.taskContainer{
  background-color:rgb(81, 81, 233) ;
  display: flex;
  width: 30%;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  border-radius: 5px;
}

.inputBox{
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.btnAdd{
  background-color:#4d4747 ;
  border-style: none;
  color: white;
  padding: 5px;
  border-radius: 4px;
  font-weight: bolder;
}

.input{
  border-radius: 3px;
  border-style: none;
}

.taskBox{
  background-color: #4d4747;
  list-style: none;
  border-bottom: 20px;
  padding: 10px;
  width: 350px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 40px;
  border-radius: 6px;
  margin-bottom: 10px;
  color: white;
}

.buttonsTask{
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.btnDelete{
  background-color:#e53d3d ;
  border-style: none;
  color: white;
  padding: 5px;
  border-radius: 4px;
  font-weight: bolder;
}

.btnCheck{
  background-color:#4cc032 ;
  border-style: none;
  color: white;
  padding: 5px;
  border-radius: 4px;
  font-weight: bolder;
}